* {
    margin: 0;
    padding: 0;
}

#main-pic{
    width: 30%;
    color: #e5e7eb;
    font-size: 40px;
    
}

#first-div{
    background-color: #1f2937;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

header {
    display: flex;
    margin: auto;
    width: 60%;
    margin-top: 20px;
}

ul {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
    font-size: 25px;
    color: #e5e7eb;
}

#fir-div-div{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 5px;
   
}

#prada-bag{
    flex: 1;
    width: 50%;
    height: 30vh;
    object-fit: cover;
    object-position: 50% 60%;
}

#fir-div-div div{
    flex: 1;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
   
}

#fir-div-div div h1{
    font-size: 60px;

}

#fir-div-div div button{
    align-self: flex-start;
    margin-top: 20px;
    width: 20%;
    height: 10%;
    font-size: 15px;
    border-radius: 10px;
}
    